<ion-view hide-nav-bar="true" view-title="{{ 'mm.login.credentials' | translate }}"> 
    <ion-content class="mm-login-fundo" mm-state-class  scrollbar-x="false" scrollbar-y="false">           
        <div class="mm-login-fundo-iat-gov-ba">
            <img class="mm-login-img-iat-gov-ba" src="img/iatgovba.png" role="presentation" alt="Instituto Anísio Teixeira" />
        </div>               
        <div class="mm-login-borda"></div>        
        <div class="mm-login-espaco"></div>
        <form class="mm-login-form"> 
            <h1 class="mm-login-titulo">Ambiente Virtual de Aprendizagem</h1>
            <input  class="mm-login-nome" type="number" placeholder="CPF" ng-model="credentials.username" >
            <div class="mm-login-lb">
                <input  class="mm-login-senha" ng-show="flag" type="text" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password">
                <input  class="mm-login-senha" ng-show="!flag" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password">
                <div class="mm-login-showPasswordIsChecked ion-eye" ng-click="flag=flase" ng-show="flag" ></div>
                <div class="mm-login-showPasswordIsChecked ion-eye-disabled" ng-click="flag=true" ng-show="!flag" ></div>
            </div>            
            <button class="button button-positive mm-login-btenter" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
            <a class="mm-login-recup-senha" href="http://10.101.34.62//niava/moodle/login/forgot_password.php"><span>Esqueceu a senha?</span></a>
        </form>                    
    </ion-content>             
</ion-view> 